//color variables
$yellow: #ffcf00
$blue: #12acb9
$light-blue: #97ccda
$green: #a9d918
$grey: #f5f1f1
$light-black: #544b4b
$dashed-grey: #7b7b7b
$chery: #e74155
$white: #ffffff
$phone-grey: #444444

//size variables


