extends ../_template

block title
	| Главная

block content
	include ../parts/header
	section.section
		.first-display.q1
	section.section
		.first-display.q2
	section.section
		.first-display.q3
	section.section
		.first-display.q4
	section.section
		.first-display.q5
	include ../parts/footer